[2016-06-14 11:11] FaridSafi opened #3 "suggestions"
Hello, great component!
I am using it in a project and I suggest the following features:
- loading indicator
- custom circle-check image

I will try to prepare a pull request

[2016-06-17 04:53] superandrew213 commented on #3
What about [#4 ](https://github.com/jeanpan/react-native-camera-roll-picker/pull/4) for custom selected image marker?

[2016-06-17 13:35] jeanpan commented on #3
@superandrew213 Thanks for the PR, will merge it after checking the functionality.

[2016-06-17 15:04] jeanpan commented on #3
#4 : Custom circle-check image has been merged.

[2016-06-18 00:15] superandrew213 commented on #3
Great!

[2016-06-28 08:15] superandrew213 commented on #3
How about we use ListView to improve performance? Or even better this [react-native-sglistview](https://github.com/sghiassy/react-native-sglistview).

If you scroll past 500 photos memory is hitting +1.1gb

[2016-06-29 16:55] stoffern commented on #3
move it to ES6 syntax

[2016-06-29 17:00] stoffern opened #5 "double declaration"
https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/index.js#L9
https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/index.js#L14

[2016-06-29 20:48] jeanpan commented on #5
Removed the duplicate declaration.
https://github.com/jeanpan/react-native-camera-roll-picker/commit/0fe0c288d6d7b7654a78ff73325ad1e52e4e3ed9

[2016-06-29 20:49] #5 closed

[2016-06-29 20:53] jeanpan commented on #3
@superandrew213. Ok, I will try to use ListView instead in my free time. Thanks for the suggestion.

[2016-07-05 19:08] muratozgul opened #6 "ActivityIndicatorIOS is deprecated. Use ActivityIndicator instead."
"dependencies": {
    "react": "^15.2.0",
    "react-native": "^0.28.0",
}

Started to get this (yellowbox) warning: 'ActivityIndicatorIOS is deprecated. Use ActivityIndicator instead.'

[2016-07-08 18:28] saeho commented on #6
I am experiencing the same issue.

[2016-07-09 02:47] jeanpan commented on #6
Currently, the ActivityIndicatorIOS is not used. So at the latest version (v1.1.1) I removed ActivityIndicatorIOS. https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/index.js
Please let me know if the warning is still happened after updating the package. Thanks.

[2016-07-14 10:27] jiachaosun commented on #3
I try to use ListView,but not easy.I don't know how to recall the renderRow method to show "selectedMarker" component,because when i call setState method the ListView only rerender by render().The renderRow props function not recall.

[2016-07-14 11:17] stoffern commented on #3
@jiachaosun I have allready put together a SGListView here https://github.com/jeanpan/react-native-camera-roll-picker/pull/7

if you want to test it right away try this until its merged:
`npm i -S github:stoffern/react-native-roll-picker`

[2016-07-14 12:32] sibelius opened #8 "return width and height of selected images"

[2016-07-15 13:07] #8 closed

[2016-07-16 06:15] jeanpan commented on #3
@FaridSafi : loading indicator has been added in the latest version. please check it !

[2016-07-16 06:35] stoffern opened #11 "Latest commits?"
@jeanpan

Batchsize:
Why use `batchSize`, it makes no sense?

Retriving 5 images or 4000 images in a fetch has a difference of 93 ns.
With `SGListView` it will only render items that are in the view and flush them again if they are out of bounds.

Facebook use batchSize because they render all the items in the list at load, and rendering 4000 at once will require batchSize

Example:
Why add Androi

[2016-07-16 06:49] superandrew213 commented on #3
Video support would be nice. Any ideas how to go about it? ```CameraRoll``` only returns photos.

[2016-07-16 06:51] stoffern commented on #3
@superandrew213
assetType : The asset type, one of 'Photos', 'Videos' or 'All'. (Default: Photos)

[2016-07-16 06:56] superandrew213 commented on #3
Lol mixed it up with this [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker)

[2016-07-16 07:02] stoffern commented on #3
ah :+1:
then i would use this picker and my cropper :)
https://github.com/stoffern/react-native-image-cropper

[2016-07-16 07:05] superandrew213 commented on #3
yes I'm playing around with both options testing which one performs the best

[2016-07-16 07:10] stoffern commented on #3
@superandrew213 i know there is a bug with the `pan to move` in my cropper.
I have fixed it just not commited the update yet :smiley:

[2016-07-16 07:44] ndao opened #12 "is there a way to preselect items?"
Hi, after selecting some images, I would like to preserve the state so when I go back to it they're already selected. Is there a way to do that currently?

Thanks!

[2016-07-16 07:53] jeanpan commented on #11
@stoffern

I put Example back because it's useful for testing, and it's not included in the npm module. I don't think it should be removed. Regarding `batchSize`, I will take a look at `SGListView` and figure out what's the difference between `SGListView` and `ListView`. Thanks for your suggestion.

Moreover, there is a problem in your #7 PR which is the selectedMarker not shown when loading more

[2016-07-16 07:54] jeanpan commented on #6
Updated ActivityIndicatorIOS to ActivityIndicator. Closed this issue.

[2016-07-16 07:55] #6 closed

[2016-07-16 14:50] jeanpan commented on #11
Remove `batchSize`.
https://github.com/jeanpan/react-native-camera-roll-picker/commit/e3c00d7e29d9be431e6ffc3a90c7076733278648

[2016-07-16 15:24] jeanpan commented on #12
@ndao. I will prepare a commit for preserving the state by passing an array of selected image as a props to the component and setting this props as the default value of selected state.

[2016-07-16 15:34] jeanpan commented on #12
@ndao. Now you can pass a selected array as a props to the component, as the example here https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/Example/index.ios.js#L50 to preserve the selected state. Let me know if this solve your problem.

[2016-07-16 17:51] stoffern commented on #3
@jeanpan not to be a copycat or anything but after a view of the code i found out that selecting items would trigger a complete rerender of the SGListView.
With that in mind, and the batchSize added from your side and my request of having loading spinners for all images i started to a total rewrite of the component.

https://github.com/stoffern/react-native-media-picker
Please try it and see if yo

[2016-07-16 21:56] ndao commented on #12
wow that was fast! thanks so much!
Question: in the latest version, the `callback` now returns an array of `Objects` whereas before it was returning an array of `string`. As they're objects now, this won't return the right index https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/index.js#L159
to satisfy the selected state.
it is breaking for me. thoughts?

[2016-07-17 07:10] jeanpan commented on #12
@ndao. Yes, before the `callback` returns an array of string ( image uri ) but now it returns an array of `Objects` ( image object ). The `indexOf` works fine for me. Is your selected state a object array or a string array ? Could you please provide me your code so I can help you to fix the problem ?

[2016-07-17 07:14] jeanpan commented on #3
@stoffern thanks for your suggestion. I will prepare a commit for fixing the problem of rerender SGListView.

[2016-07-17 07:44] ndao commented on #12
@jeanpan, i am basically using Redux to store the objects that returned from `callback` and pass it back again to CameraRollPicker component
Below is what the array of objects looks like
![image](https://cloud.githubusercontent.com/assets/8940740/16899396/336a37d6-4bb7-11e6-99bb-4c0fd7690697.png)
like so
[code]

[2016-07-17 07:55] ndao commented on #12
it also looks like the Camera component adds the `selected` array that i am passing in to its state (but not showing those images are selected). it then returns all the newly selected items PLUS the selected array items that was passed in.

[2016-07-17 14:44] jeanpan commented on #12
@ndao It seems there is something wrong with selected state. I will fix it asap. Thanks for the comments.

[2016-07-17 16:15] jeanpan commented on #12
@ndao I fixed the problem in the latest version ( 1.1.5 ). Please check it and let me know if there is any problem. Thanks !

[2016-07-17 18:10] ndao commented on #12
looks like 1.1.5 fixed it! thanks so much!

[2016-07-18 01:04] #11 closed

[2016-07-20 00:19] ndao commented on #12
@jeanpan, there's another issue. The selected state is kept despite new `selected` props being passed in. perhaps it needs a `componentWillReceiveProps` to update state.

[2016-07-20 12:39] jeanpan commented on #12
@ndao ok. Will fix it asap. Thanks!

[2016-07-21 05:16] jeanpan commented on #12
@ndao Fixed at the latest version 1.1.6. Please let me know if there is any question. Thanks !
https://github.com/jeanpan/react-native-camera-roll-picker/commit/16991b522c53b50b567cb47b8c482dd8472358b0

[2016-07-21 06:25] Cell-- opened #14 "The Basic Usage"
Basic Usage
<CameraRollPicker
  callback={this.getSelectedImages} />

<img width="368" alt="2016-07-21 1 30 33" src="https://cloud.githubusercontent.com/assets/9392512/17013133/d9f2ab20-4f4e-11e6-9eb7-535ea90c8d7d.png">

[2016-07-21 06:48] jeanpan commented on #14
@Cell-- I can't get your problem. If you have any problem with usage, you can reference Example code. https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/Example/index.ios.js
Or you can provide me your code so I can help you. Thanks.

[2016-07-21 08:21] Cell-- commented on #14
i just write  'import CameraRative-camera-roll-picker';' in my  index.os.js, then it sendout an error like this

[2016-07-21 08:21] Cell-- commented on #14
i just write 'import CameraRative-camera-roll-picker';' in my index.os.js, then it sendout an error like this

[2016-07-21 08:23] Cell-- commented on #14
i just write 'import CameraRative-camera-roll-picker';' in my index.os.js, then it sendout an error like this

![simulator screen shot 2016 7 21 4 20 53](https://cloud.githubusercontent.com/assets/9392512/17015939/4d938422-4f5f-11e6-8023-6246259a4ec5.png)

[2016-07-21 09:04] jeanpan commented on #14
@Cell-- I think you didn't include the component correctly. Could you please reference https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/README.md and https://github.com/jeanpan/react-native-camera-roll-picker/tree/master/Example.
BTW. It should be `import CameraRollPicker from "react-native-camera-roll-picker"; ` not import CameraRative-camera-roll-picker.

[2016-07-21 09:11] jeanpan commented on #14
@Cell--
https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/README.md#add-to-project

Did you `npm install react-native-camera-roll-picker --save` ?

[2016-07-21 09:31] Cell-- commented on #14
yes, i do the 'npm install react-native-camera-roll-picker --save'

[2016-07-21 09:37] jeanpan commented on #14
@Cell-- Can you find react-native-camera-roll-picker folder under node_modules ? or maybe you can try solution from https://github.com/facebook/react-native/issues/4968

[2016-07-21 09:42] Cell-- commented on #14
i can find
<img width="734" alt="2016-07-21 5 39 47" src="https://cloud.githubusercontent.com/assets/9392512/17018430/5026fcd6-4f6a-11e6-908c-fb86983b439a.png">

[2016-07-21 09:45] jeanpan commented on #14
It should be under your project. /RNTestDemo/node_modules/react-native-camera-roll-picker/

[2016-07-21 09:48] Cell-- commented on #14
yes
<img width="706" alt="2016-07-21 5 46 30" src="https://cloud.githubusercontent.com/assets/9392512/17018638/44900f42-4f6b-11e6-93b3-3071954b3a17.png">

[2016-07-21 09:54] jeanpan commented on #14
ok. How about try the solution from the error message or https://github.com/facebook/react-native/issues/4968.

[2016-07-25 04:36] ndao commented on #12
thanks @jeanpan,
fyi there are some warnings with the SGListView stuff
![image](https://cloud.githubusercontent.com/assets/8940740/17090572/9b41e7ac-51e6-11e6-81e6-568dbae6acb9.png)

[2016-07-25 04:38] jeanpan commented on #12
@ndao Thanks for the fyi. I will created another issue to track the warnings of SGListView.

[2016-07-25 04:40] jeanpan opened #15 "Warnings of SGListView"
https://cloud.githubusercontent.com/assets/8940740/17090572/9b41e7ac-51e6-11e6-81e6-568dbae6acb9.png

[2016-07-25 04:44] #12 closed

[2016-07-26 23:38] wootwoot1234 commented on #14
I'm getting a similar error.  The exmple works fine but for some reason when I add it to my existing project I get this:

[code]

I'm running react native 0.27.2, is that an issue?

[2016-07-27 03:47] shirleycharlin opened #17 "Cannot read property 'getPhotos' of undefined"
Hi I was prompted this error message when I just npm install it a while ago.
mind fixing it?

![simulator screen shot jul 27 2016 11 45 56 am](https://cloud.githubusercontent.com/assets/17798099/17163248/efff2b8c-53ef-11e6-8f38-8624ce6639f8.png)

[2016-07-27 06:42] yeegr commented on #15
Yes, I'm having the same issue

[2016-07-29 08:48] ndao commented on #15
@jeanpan there's an issue i'm having with photos not showing on mount. it's just blank then i kind of drag the screen then the photos show. Do you think it's related to the warnings?

![image](https://cloud.githubusercontent.com/assets/8940740/17242889/719b560e-552e-11e6-860e-079f28aa9994.png)

[2016-07-29 09:30] jeanpan commented on #17
@shirleycharlin, did you import the RCTCameraRoll.xcodeproj ? https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/README.md#add-to-project

[2016-07-29 13:14] jeanpan commented on #15
@yeegr @ndao, the warning is happened in RC latest version. There are some required props for Listview. I will try to fix it asap.

[2016-07-30 18:41] FaridSafi commented on #15
same here, I suggest to simply use ListView instead

[2016-07-31 02:24] jeanpan commented on #15
@FaridSafi Yes. I also think it's better to use Listview instead sglistivew. Already merged https://github.com/jeanpan/react-native-camera-roll-picker/pull/18

[2016-07-31 02:40] jeanpan commented on #15
@yeegr @ndao, please check version 1.1.7. Let me know if the warning still exists or not. Thanks!

[2016-07-31 02:41] jeanpan commented on #14
@wootwoot1234 In my example, I am running react native 0.30.0, and it works fine.

[2016-07-31 08:08] ndao opened #19 "video marker"
@jeanpan Can we add a video marker to indicate it's a video? Right now it just blends into the photos. Maybe another prop to accept a video marker?

[2016-08-01 03:48] ndao commented on #15
@jeanpan, SGListView warnings are gone but getting these now.
react 15.3.0
react-native 0.30.0

![image](https://cloud.githubusercontent.com/assets/8940740/17282914/a1a064ba-575f-11e6-97a6-7bca24d50393.png)
![image](https://cloud.githubusercontent.com/assets/8940740/17282920/b18f8d38-575f-11e6-9cf3-d2e1c836ab76.png)
![image](https://cloud.githubusercontent.com/assets/8940740/17282937/020007ca-5760

[2016-08-11 02:14] YJTanK commented on #17
if use cocoapods, you must link RCTCameraRoll in Podfile

[2016-08-12 10:57] swaroopa94 commented on #14
I Got the similar error as @wootwoot1234  can you please tell me how to solve it..

[2016-08-12 11:25] swaroopa94 opened #20 "Elemen type is Invalid Error"
Hiii,
Iam using this module and i got the error i am attaching the screenshot here
![simulator screen shot 12-aug-2016 4 54 06 pm](https://cloud.githubusercontent.com/assets/19324363/17620915/6c9c9502-60ad-11e6-8492-0aff3c0432ed.png)

anyone knows the solutions please reply back.
Thanks..

[2016-09-15 00:11] blumanski opened #22 "Doesn't show any video file"
On my Android Galaxy S6, it does not show video files.

The settings should be fine:

                        scrollRenderAheadDistance={500}
                        initialListSize={1}
                        pageSize={3}
                        removeClippedSubviews={true}
                        groupTypes='All'
                        batchSize={5}
                        maximum={10}

[2016-09-15 03:13] jeanpan commented on #22
Hi @blumanski, do you mean the props settings in the example ? It does only shows photos, but when you include the camera-roll-picker in your project, you can set the props of assetType as 'All' to show the video files.

[2016-09-15 05:09] blumanski commented on #22
Thanks, @jeanpan
I didn't explain it enough.
I have already added  the camera-roll-picker into the project and changed the settings as above with assetType "all' and it works all great, I see photos but no videos are showing.

What do I miss?
Thanks for your work anyway, it's appreciated

This is my code
`CameraRollPicker
                        scrollRenderAheadDistance={500}

[2016-09-22 01:15] blumanski commented on #22
@jeanpan
I was working on something else for a few days.
See below my code. I just can't see any videos...
I have the video plugin installed and it is running and plays videos in another view.
So, it should work I guess...

Any ideas?

    import React, {Component} from 'react';
    import {
      StyleSheet,
      Text,
      View,
      ScrollView,
      TouchableHighlight,
      CameraRoll,

[2016-10-05 09:44] wuyb opened #24 "performance issue and order"
Hi, it seems the component loading slow when there are many photos in the camera roll. Anyone has encountered this and any solution?

Also, is there a way to set the ordering of the photos? I'd like the latest taken photos to be on the top.

Thanks

[2016-10-06 10:32] #22 closed

[2016-10-10 07:33] BROUDING commented on #24
scrollRenderAheadDistance={500}
    initialListSize={1}
	pageSize={3}
	removeClippedSubviews={true}

Recently, those PropTypes are added.

and then putting those props and values should work !

Also, when you do "CameraRoll.getPhotos(fetchParams)..."
In "fetchParams", you might want to set "first" value to more lower value.
That's "How many photos I would load from the device at one time"

[2016-10-13 06:15] wuyb commented on #24
@BROUDING Thank you very much!

[2016-10-13 06:15] #24 closed

[2016-10-26 19:23] olofd opened #26 "Used this library to showcase my library"
Hi!
I used this library to showcase my library [react-native-photos-framework](https://github.com/olofd/react-native-photos-framework).Your code from this library is used in my example-folder. I have only changed your example to use my library instead of RN's CameraRoll.

But I saw now that you did not have any LICENSE in your repo. Let me know if you want me to delete your code from my repo!

[2016-10-27 02:07] jeanpan commented on #26
@olofd Could you use `npm install` to include this library instead of copying the files ? And please detail this in your README. Thanks for the reminder of LICENSE. I will add it later.

[2016-10-27 07:03] olofd commented on #26
@jeanpan I would like to copy the files because I change them to use my library instead of CameraRoll. I could use a fork, but that's a hassle when I'm going to update this a lot. I've added a notice in the [README to the example](https://github.com/olofd/react-native-photos-framework/tree/master/example).

Just let me know if you do not like it, and I'll write something by myself for the example!

[2016-10-27 11:23] sibelius commented on #17
@shirleycharlin can u close this?

[2016-10-27 11:24] sibelius commented on #14
@jeanpan I think we can close this

[2016-10-27 11:39] #14 closed

[2016-10-27 12:16] shirleycharlin commented on #17
@jeanpan I solved it!

@YJTanK  thanks you!

so sorry that I forgot to revert back to this issue when I solved it. Thank you so much guys! :)

[2016-10-27 12:16] #17 closed

[2016-11-07 17:34] sibelius opened #27 "RCTJSONStringity() error when clicking on don't allow to access photos"
I'm receiving this error when the user clicks on don't allow of permission dialog
![image](https://cloud.githubusercontent.com/assets/2005841/20068356/8e2192ae-a4ff-11e6-9c32-fbd2aeb47c9e.png)

[2016-11-09 07:02] Jaafar-abusair opened #28 "Is it for IOS only?"

[2016-11-13 03:14] jeanpan commented on #28
This is for iOS and Android.

[2016-11-21 18:12] sibelius commented on #28
@jeanpan u can close this

[2016-11-22 00:48] #28 closed

[2016-12-08 16:23] nitindhar7 opened #30 "Custom empty list view"
I find it more useful to allow a custom view to be injected into the component when the camera roll list is empty instead of just showing text (albeit, styled text).

Something like this:

[code]

Thoughts?

[2017-01-11 14:14] MiyazakiKaito opened #31 "My app drops when rendering CameraRollPicker"
My app drops when rendering `CameraRollPicker`.
Show my code below. Is something wrong?
[code]
[code]

[2017-01-21 12:43] MiyazakiKaito commented on #31
I solved this problem. I must contain an `NSPhotoLibraryUsageDescription` key with a string value explaining to the user how the app uses this data in my app's `Info.plist`.
More description: https://developer.apple.com/library/prerelease/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW1

[2017-01-21 14:35] #31 closed

[2017-01-24 05:41] AlisonWonderlandApps commented on #17
I get this issue as well... how was it solved?

[2017-01-24 08:55] sibelius commented on #17
U need to native link CameraRoll on iOS, check react native docs

[2017-01-24 12:22] AlisonWonderlandApps commented on #17
I had to do it manually. React-native link did not work. So for others... I did it by grabbing the RCTCameraRoll.xcodeproj from node_modules/react-native/libraries and putting it into my xcodeproject libraries then in build settings adding the RCTCameraRoll.a file

[2017-02-06 01:35] luco opened #32 "Camera Roll Empty - No Photos"
I already declared camera usage on info.plist:

[code]

And this is in my view:

[code]

And I still getting No photos.
Any tips?

[2017-02-07 02:20] sindy-fan opened #33 "android filename"
I ask, when I choose photographs, only ios can crawl to filename, android not capture filename. There are ways to solve?

[2017-02-08 15:22] nrathi commented on #14
`const module = require('module-name').default` worked for me.

[2017-03-02 13:49] koneriranjith opened #36 "assets-library path giving problem while uploding to the server"
While uploading image to the server it seems this path is not acceptable. Any solution to get **document directory**  path in uri

{
    "uri":"assets-library://asset/asset.JPG?id=AC072879-DA36-4A56-8A04-4D467C878877&ext=JPG",
  }

[2017-04-03 16:26] amitbravo commented on #36
which uploading dependancies you using ? I got same problem, trying to sort it out .

[2017-04-03 17:06] koneriranjith commented on #36
Image uploading work's fine. I'am using XMLHttpRequest() to uploading videos, but it's uploading thumbnail image not actual path. I posted here you can take reference -http://stackoverflow.com/questions/42575526/react-native-uploaded-video-it-saves-like-image

[2017-04-12 11:30] alialaa opened #39 "Permission Error on Android"
Hello, I get this error on android and I can't find a way to set these permissions, any idea?

`Error: Could not get photos: need READ_EXTERNAL_STORAGE permission`

[2017-04-15 14:33] daose commented on #39
You'll want to edit your `AndroidManifest.xml` to include that permission (usually located `./android/app/src/main/AndroidManifest.xml`)

Add the line:
[code]

[2017-04-17 16:09] ricardofavero commented on #22
Same problem here.
assetType can be 'All' or 'Videos' and it still shows photos only.

[2017-04-30 05:03] kesha-antonov commented on #22
@blumanski Hey man! Did you solve it?

[2017-04-30 07:54] kesha-antonov commented on #22
Nevermind. RN does not support it for now. I've created PR there
Please vote up to motivate RN team to merge it ASAP

https://github.com/facebook/react-native/pull/13715

[2017-05-08 19:17] kaberibasu commented on #17
@jeanpan I have imported the library and added RCTCameraRoll.a file in Build Phase/link binary with library, but the error still persists

[2017-05-11 22:03] shireen commented on #3
How do I use the newly added loading indicator?

[2017-05-24 23:34] arminsal1 opened #44 "GIFs not animating when importing uri"
I'm trying to display images and gifs in my app on React Native's default Image component, but the uri's from the gifs selected using this library display a static unanimated image rather than the animated gif on the Image component. When I test out the component with a web url of a gif, it animates fine, so it appears to be an issue with how the uri from the camera roll picker

[2017-06-01 16:21] twairball commented on #32
Make sure you have permissions setup correctly.

E.g. for iOS, in `Info.plist`
[code]

(tip: you may need to reset app on your Simulator to get permission dialog to show up. hit cmd+H to goto home screen of simulator, delete the app, and rebuild)

[2017-06-16 04:56] moreirayokoyama commented on #33
Or is there any way to determine the filename from the content uri?

[2017-06-28 14:49] rcorrie commented on #17
After manually linking `CameraRoll` I still get this error.

After performing the manual link, I quit my simulator, shutdown packager, then I `react-native run-ios`.

Is there anything else I should do doing after performing a manual link?

[2017-06-30 14:27] alainib opened #47 "undefined is not an object (evaluating 'RCTCameraRollManager.getPhotos)"
hello
I try to get cameraroll and get this error on iphone 5s.

in xcode, libraries , I added RCTCameraRoll.xocde.proj
then in "build phases" link binary with libraries i dropped the "libRCTCameraRoll.a"

the project build is ok but error on the iphone

 `undefined is not an object (evaluating 'RCTCameraRollManager.getPhotos)`

I used the code in the demo

Any idea please ?

her a screenshot of xc

[2017-07-14 08:17] yash2code opened #49 "Example not working RN 0.46.1"

[2017-07-20 20:38] nkarman commented on #47
Do you have any photos in your camera roll? I was getting this issue, then added photos to my camera roll (by saving photos from the iOS simulator's safari) and this issue went away. Hope this helps!

[2017-07-24 08:49] alainib commented on #47
it was because my bad configuration of xocde import for this plugin.
unfortunatly i don't now how i solve it. ( i try few time to import the plugin.
I have pictures in the camera roll yes before. thanks for help

[2017-07-24 08:50] #47 closed

[2017-07-31 06:52] bijubijoy opened #50 "containerWidth doesn't update dynamically."
Component is not rerendering when containerWidth updated .

[2017-08-02 11:35] AlexKotov commented on #44
same issue
react native 0.44.0

[2017-08-08 20:00] fhad-getmaple opened #51 "Broken on new React Native versions. React.PropTypes is deprecated"
Getting error 'Cannot read property "object" of undefined"

[2017-08-08 23:02] g7tianyi commented on #36
Same problem here

[2017-08-11 14:13] jeanpan commented on #51
Fix this in v1.2.0.

[2017-08-25 18:48] pongponglau opened #52 "Listview cannot show thumbnail when there are many items in the listview"
There are a lot of photos in my android device. The library camera-roll-picker is so nice and i use it in my app. However, after i scroll down the listview for a few times, the image thumbnails cannot be shown (just see grey grids). May i ask if this issue is related to memory issue of listview? Is there any solution or flatlist version?

Thank you very much for your advice

[2017-08-26 15:23] pongponglau opened #53 "Android cannot show any video files"
The camera-roll-picker cannot show any video for selecting, no matter i am using All or Videos assetType. Any ideas?

Thanks a lot

[2017-08-26 15:32] pongponglau commented on #52
I use clipsubview and the issue is solved. Thx

[2017-08-26 15:32] #52 closed

[2017-08-30 13:13] arminsal1 opened #55 "EXC_BAD_INSTRUCTION on iOS when tapping a photo"
The library was working perfectly and is suddenly crashing the application when I tap one of the images. No JS error is given when I run the application in Debug Mode, just this error on XCode:

<img width="1064" alt="screen shot 2017-08-30 at 9 09 35 am" src="https://user-images.githubusercontent.com/8769537/29873929-12113532-8d63-11e7-92f0-c64175ea1d9e.png">

So far I tried unlinking and uninsta

[2017-08-31 15:19] arminsal1 commented on #55
@jeanpan

[2017-08-31 18:23] arminsal1 commented on #55
Resolved: The issue wasn't with this library, and I solved it by downgrading the other library.

[2017-08-31 18:23] #55 closed

[2017-09-07 01:41] ycb0318 opened #56 "[ios]Attempted to assign to readonly property ?"
hello . could you help me to solve this problem? thank you very much!

[2017-09-08 14:22] kesha-antonov commented on #53
https://github.com/facebook/react-native/pull/13715

[2017-09-12 07:44] nakulkundaliya commented on #36
Hello @koneriranjith and @amitbravo
I have fixed this issue. costomize  RCTCameraRollManager.m file

I hope its work for you

[2017-10-04 14:16] anghelalexandra opened #58 "Warning - Using <Image> with children is deprecated"
I'm getting a warning message when selecting images from the camera roll.

Here is the code:

[code]

The exact warning message is:
```Using <Image> with children is deprecated and will be an error in the near future. Please reconsider the layout or use <ImageBackground> instead.```

I'm using:

[code]

Any idea on how to fix this?

[2017-10-06 13:52] eyalw opened #59 "Photo selection lag"
When I tap on a photo, there is a lag until it renders as selected.
If I scroll down and the list grows, the lag grows with it.

Video example available here: https://cl.ly/muq8
As you can see there's a slight lag at start, and after scroll an even larger lag.

any idea?

[2017-10-08 00:53] EduardJS opened #60 "How to get the URI of the actual image for upload ?"
Hello gents!

I'm having issues understanding how to get the actual path of the files so I can upload them ?
The array of images sent back from the picker is as follows:

[code]

I understand I need to use "data.filename" .. but what's the absolute path ? Where or how to get it from ? Thanks!

[2017-10-08 01:22] EduardJS commented on #60
Nevermind, fixed it :)

[2017-10-08 01:22] #60 closed

[2017-10-09 22:32] i6mi6 commented on #58
#61 fixes this

[2017-10-11 13:56] srameshr commented on #44
@arminsal1 @AlexKotov This is an issue. How did you solve it? Its because this library returns an ```assets-library``` file as it is without converting to ```PHAsset```. Hence you just get the first frame. Shame!

This library solves this problem: https://github.com/olofd/react-native-photos-framework/ but its just an API and no GUI. We have to build a GUI.

I have request for a feature here: http

[2017-10-15 04:09] jeanpan commented on #58
@anghelalexandra v1.2.3 fixed the warning. @i6mi6 thanks for your PR.

[2017-10-16 09:51] anghelalexandra commented on #58
Thanks! :)

[2017-10-16 09:51] #58 closed

[2017-10-16 23:39] ikataitsev commented on #20
Try to add `export default ...` to your component class definition.

[2017-10-25 06:48] nakulkundaliya opened #62 "camera-roll-picker does not re-render after state change"
![issue_camera_picker](https://user-images.githubusercontent.com/15937642/31984196-2c818f88-b97e-11e7-9071-653542c2aaf4.png)

After changing value of All to Albums, camera roll picker does not re-render. It only renders one time when component mount and take the value for groupTypes which was provided to it. And when I change the value in state and provide that new value to groupTypes it does not

[2017-10-29 17:24] jcaffrey opened #63 "clarify whether package dynamically fetches more photos"
I was hoping to find a CameraRoll picker that that dynamically fetches more photos from the phone's photo library after the user scrolls to the bottom of the CameraRoll.  Does this component implement that?

[2017-10-30 07:24] jeanpan commented on #63
@jcaffrey, this component dynamically loads more photos from your camera roll when you scrolling down. You can give it a try.

[2017-10-30 13:31] jcaffrey commented on #63
amazing, thanks definitely will!

[2017-10-30 13:38] jcaffrey opened #64 "libRCTCamera.a typo?"
did you mean to say we should link libRCTCameraRoll.a?

[2017-11-07 18:51] dcmdestello opened #65 "Interest in a PR with a FlatList reimplementation?"
Hi there!

Currently this component is implemented with a [ListView](https://facebook.github.io/react-native/docs/listview.html) which was deprecated a few months ago in favor of [FlatLists](https://facebook.github.io/react-native/docs/flatlist.html) which are supposed to have better performance and an easier API.

I have already a working implementation of the camera-roll-picker using a FlatList,

[2017-11-13 07:46] meghnasharma commented on #59
I'm facing the same issue

[2017-11-16 10:10] code-by opened #66 "How to link manually in Xcode"
Hello. I'm newbie for iOS and XCode.
I don't find .xcodeproj in this package (node_modules\react-native-camera-roll-picker)
and RCTCameraRoll.xcodeproj is showed in red color (in Libraries)
what I need to do?
![screenshot1](https://user-images.githubusercontent.com/4306445/32898824-513b9e3a-cafa-11e7-8143-0fcc65a515bb.png)

[2017-11-16 23:40] code-by commented on #47
Have same issue with some photos in gallery. iOS.

[2017-11-17 10:10] Frexuz commented on #64
Seems so. It failed by just linking `libRCTCamera.a`
After linking `libRCTCameraRoll.a` it worked immediately :)

[2017-11-17 10:18] Frexuz commented on #60
@EduardJS what did you do? :) Convert to base64 or something?

[2017-11-17 10:21] EduardJS commented on #60
@Frexuz hello!

I used RNFetchBlob to:

1. Wrap the assets uri ( look for the method )
2. Create blob from it and use it with firebase .put in my case.

On mobile at the moment so I cannot write an example. Let me know if you can’t manage.

[2017-11-17 10:22] Frexuz commented on #60
RNFetchBlob is enough :) Thanks for helping!

[2017-11-21 12:41] flybayer commented on #65
Yes, please!

[2017-11-21 12:43] flybayer commented on #62
I have a PR that fixes this, but it's been open for a very long time: #35

[2017-11-23 22:42] #51 closed

[2017-11-29 11:23] katunch commented on #64
Failed on the same Issue... After linking `libRCTCameraRoll.a` everything worked.

[2017-12-06 17:22] BonnieMilian commented on #50
I have the same issue, I was trying to send data that will change width state, but it doesn't update
          containerWidth={this.state.width}

_handleLayout = event => {
    this.setState({
      width: event.nativeEvent.layout.width
    });
  }

on the render...
<View onLayout={this._handleLayout}>

[2017-12-06 17:24] BonnieMilian commented on #3
Dinamic ImageItem ReSize when the Layout Orientation change.

[2017-12-06 18:30] BonnieMilian commented on #50
Uhh I found a solution on the index.js file:
on render function, add onLayout:
[code]
add function_ handleLayout:
[code]

[2017-12-12 09:08] lossen opened #67 "How can I get file type?"
Hello there!

How can I get file type? For example "image/png"
I am using react-native-aws3 and I need pass type prop there

Thanks for any help.

[2017-12-13 05:50] priya-vr opened #68 "How to resize the image width and height when selecting image using camera roll picker"

[2017-12-14 10:22] marcinkornek commented on #66
You need to click right mouse button to Libraries and choose "Add Files to "YourAppName"..", then go to "YourAppName/node_modules/react-native/Libraries/CameraRoll/RCTCameraRoll.xcodeproj" and add this file. Then open "Build Phases" and add "libRCTCameraRoll.a" to "Link Binary With Libraries". I'm not sure but probably you'll also need to add "ART.xcodeproj" and also add "libART.a" to "Link Binary

[2017-12-18 16:36] rodrigoreis22 commented on #36
Using FormData to send the POST request seems to work only with a `file://` uri format.. has anyone figured this out?

[2017-12-18 16:42] rodrigoreis22 commented on #36
@nakulkundaliya what's the fix you made? I couldn't find the commit on your fork repo..

[2017-12-18 17:36] nakulkundaliya commented on #36
@rodrigoreis22  You have two way to fix this issue. 1. you can write native code for write assets uri into temp folder other wise 2. you can user lib for convert assets url to file url.

[2017-12-18 19:58] rodrigoreis22 commented on #36
I ended up using https://github.com/wkh237/react-native-fetch-blob

[2018-01-01 08:38] codewizarder opened #70 "With assetType="Videos", Video thumbnails are not showing."
I want to load all the videos of my gallery. I set the assetType="Videos". Then the video thumbnails are not showing. But when i tap on empty screen, something gets selected and in console log I can see the video path (uri: "content://media/external/video/media/31929"). How to fix this problem, so I can see thumbnails of videos.

[2018-01-09 05:45] rajatpillai opened #71 "IOS: no such file or directory, open 'assets-library://asset/asset.PNG?id=542A24A7-947B-4122-B9C9-CEBA42827A2D&ext=PNG'"
On IOS, it is displaying all the images but when we select any image it is giving error "no such file or directory, open 'assets-library://asset/asset....."

[2018-01-12 19:48] akyker20 commented on #39
This should be added to ReadMe

[2018-01-17 02:15] Donhv commented on #22
@kesha-antonov
Hi. Now, RN support show video file ?

[2018-01-28 06:03] n8stowell82 commented on #32
I am getting this same thing on Android.  iOS works perfectly but android never asks me permission to see local photos and all I get is a spinner with no list of photos from device.

the Readme has 0 instructions for Android, is there anyone with this working that can share permissions needed and any other setup instructions?

Thanks!

[2018-01-29 05:47] daku opened #72 "No geotag info in images"
Thank you for the great library!

It looks like in this line the rest of the node information is lost, specifically the geotag information that our project needs. Would you consider passing along the entire node instead of just the width and height information of the image? I am willing to create a PR for this if needed.

https://github.com/jeanpan/react-native-camera-roll-picker/blob/020cb40cb3af

[2018-01-31 21:54] greenais commented on #65
@dcmdestello,
could you please share your upgraded version or create a fork repo?
Pity, it seems like @jeanpan isn't interested in RNCRPprogress.
But we surely  do!

[2018-02-02 22:27] dcmdestello commented on #65
The reimplementation with FlatList is now up as a fork on:

https://github.com/dcmdestello/react-native-camera-roll-picker

Other than that it has some other minor changes:

* Created component Row to benefit of PureComponent optimizations.
* Changed initial load size from 1000 to 100.
* Removed some dead code I found.
* Minor code style changes that my eslint was annoying me with.

Cheers.

[2018-02-03 08:50] greenais commented on #65
Great job. Thank you!

[2018-02-03 10:30] greenais commented on #65
=Off-topic:
@dcmdestello, how do you access file content using uri obtained from RNCRP?
react-native-fetch-blob seems to be abandoned since Sep 2017,
react-native-fs doesn't allow access to DCIM/CameraRoll directory..
What approach would you recommend?

[2018-02-03 12:08] dcmdestello commented on #65
For iOS there should not be any particular complications.

For android `RNFS.readFile(path, 'base64')` works too but only with actual filepaths. What RNCRP is given by Android is not a the actual path in the filesystem but a [content uri](https://developer.android.com/reference/android/content/ContentUris.html) that Android can work with.

Back when I was looking at this I didn't find any react na

[2018-02-03 12:34] greenais commented on #65
Thank you for comprehensive answer.
Seems that react-native-get-real-path for Android serves the same need.

So for iOS RNFS should accept plain uri - did I get it right?
And what regarding npm install from your fork?

[2018-02-07 16:47] jose920405 opened #73 "Crash"
The next crash is happened to me when add

`selected={this.state.imagesSelected}`

**CRASH:**
[code]

example:

[code]

[code]

[2018-02-07 16:58] #73 closed

[2018-02-07 16:58] jose920405 commented on #73
Capa 8 😂

[2018-02-13 13:13] yehudahkay commented on #65
Looks good, thank you. It fixes an issue with the display that I had. You can include it in your project by using this in package.json. Would be great if it could be published on npm or integrated into current project.

    "react-native-camera-roll-picker": "https://github.com/dcmdestello/react-native-camera-roll-picker",

[2018-02-14 09:19] yehudahkay commented on #65
I published it on npm if you want to use it from there in the meantime

https://www.npmjs.com/package/react-native-camera-roll-multi-picker

[2018-02-14 09:25] valiirshad commented on #67
I am also using S3 bucket from AWS, couldn't get the File Type. Any work around on this.

[2018-02-19 10:12] janardna opened #74 "can not shown Videos but photos shown"
i dont know why videos is not showing  [Android] CameraRoll does not support videos.  This is my code
         <CameraRollPicker
           maximum={10}
          assetType={'All'}
          pageSize={2}
          removeClippedSubviews={true}
          imagesPerRow={3}
          callback={this.selectImages}
          selected={[]}

[2018-02-26 19:30] colewinans commented on #74
Also having this issue on Android. Same configuration.

[2018-03-02 23:12] code-by opened #75 "shown deleted files"
I made app that capture camera images and store them into devices at users prompts. After capturing user could delete captured image (I do it with RNFS unlink). But when I reopen camera roll - deleted blank image still present here. I think there some kind problem with cache and each file need to be checked with RNFS.exists before show it thumbnail in the picker.

[2018-03-12 13:38] skipsuva commented on #71
@rajatpillai I've run into a similar issue.  Have you seen this closed issue? https://github.com/jeanpan/react-native-camera-roll-picker/issues/60

[2018-03-13 11:30] rajatpillai commented on #71
I faced this issue while I was converting image into base64 if you are facing the same issue then i solved it by integrating react-native-fetch-blob

**example**:-
import this library : -  **import RNFetchBlob from 'react-native-fetch-blob';**

 now use this code for converting image into base64 :-
  **RNFetchBlob.fs.readFile(URI, 'base64')
          .then((data) => {
            console.log(data)

[2018-03-13 14:32] skipsuva commented on #71
@rajatpillai Did that solution also work for Android?  I'm using react-native-fs (https://github.com/itinance/react-native-fs) & have iOS working with the `copyAssetsFileIOS` function it provides...but haven't found something that works with the Android file type.

[2018-03-14 09:20] rajatpillai1 commented on #71
Yes, the above solution works for both Android and IOS.

[2018-03-14 14:49] rajatpillai1 commented on #71
Yes Now, this can be closed.

[2018-03-15 13:47] AlexKotov commented on #44
@srameshr Thank u for the info.
I don't solve the problem yet.
I will solve it in my modification of React Native Camera soon: https://github.com/FishErr/react-native-camera

[2018-03-23 10:22] cnakh opened #76 "Image keep selected after reopen the screen"
I checked the component, it very nice.

I opened the screen and select images, then go back. When reopen the screen again the selected marker still available on image.

I want to clear the selected from the previous opened.

How can I clear it? Thanks for your help.

[2018-03-29 08:18] naoey commented on #76
As a workaround, passing the `selected` prop with an empty array seems to fix this. But I think this should be the normal behaviour without the prop because the docs state that the default value is `[]`. Ex.:

[code]

[2018-03-29 09:49] cnakh commented on #76
@naoey thanks for your reply.
I added `selected={[]}`, it clear the previous selected image, but can only select single image at once and the picker icon not display.
I try to add `selectSingleItem={false}` to make it can select multiple images, but it doesn't work.

[2018-03-29 10:15] cnakh commented on #76
@naoey thanks for your help. Anyway, I added `selected={this.state.selected}` it solved my issue.

[2018-04-13 04:39] gogogous88 opened #77 "want to have a compress/photo quality callback"
anyway that we can set quality with the the callback(such as we get compressed photos array)

[2018-04-18 12:43] bulats commented on #70
Same issue, any solutions?

[2018-04-18 12:44] bulats commented on #74
Same issue

[2018-05-10 18:41] mopilo opened #78 "Callback Prop"
the call back only returns selected images, what if an image is deselected how do i call a function?

[2018-05-12 11:47] lavarajallu opened #79 "when clicking don't allow spinner loading continuesly app is frezing"
mac OSX: 10.12.16,

react-native-version: 0.50.1,

react-alpha-16.

app not getting continuously when user clicking don't allow after not showing alert .
spinner continuously loading  .

[2018-05-18 10:34] mopilo opened #80 "How can i get select image path"
How d i get path to a selected image from storage?

[2018-05-19 02:14] 12343954 opened #81 "still too slow"
following this https://github.com/jeanpan/react-native-camera-roll-picker/issues/24

still too slow to show  the pictures' list

how to speed up?

thank you !

[2018-05-24 15:34] farhanmannan commented on #32
I have this issue on Android, but if I enable the "Storage" permission, it works and the camera roll is populated. However the app doesn't prompt the user to ever accept this permission, so they would never know. Any update on this?

[2018-05-30 05:39] 12343954 commented on #44
I solute it ！just temporary solution

https://github.com/FaridSafi/react-native-gifted-chat/issues/878

[2018-06-06 12:02] AliZeynalov commented on #17
@kaberibasu I also linked RCTCameraRoll.a and still keeps getting error. Did you manage to solve the problem?

[2018-06-06 13:43] jose920405 opened #82 "does not return all images"
I have 540 photo files in my phone but only show 10.

My code is:

[code]

[2018-06-07 10:54] raphcadiz commented on #82
There was an issue with this when iCloud Photo Library is enabled, it will not get the photos from iCloud. Not sure if it's fixed

[2018-06-07 10:58] raphcadiz opened #83 "Not working on iOS release version"
When testing on development version the camera roll picker works great but when built on release version it doesn't work. It just a white screen. Any of you have idea about this issue?

[2018-06-10 22:35] #83 closed

[2018-06-14 00:59] wangchuxi commented on #33
@sindy-fan Did you solve it?

[2018-07-04 21:36] jose920405 commented on #82
hi @waltershub

I have finally decided to look for another alternative and found `react-native-photos-framework` , which works very well

[2018-07-12 09:12] mopilo commented on #82
@jose920405  does the it support android??

[2018-07-20 12:36] team8digital commented on #51
package.json ("react-native-camera-roll-picker": "^1.1.9") does not contain prop-types hence
to run the example you will need: yarn add prop-types

[2018-07-28 06:55] BlenderDude commented on #82
@mopilo No it doesn't, but for my projects I use `react-native-photos-framework` for ios and this for Android.

[2018-08-02 14:21] jzhw0130 commented on #32
Same problem, any update?
Do we need to request the permission by ourself?
Is it better to add the feature to the library?

[2018-08-07 20:08] dazwiafl commented on #65
@yehudahkay your npm module points to the old implementation... :(
using the https link for now (works)

[2018-08-08 23:04] shushuy commented on #39
Any update on this? I have the same problem even with
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
added to the AndroidManifest.xml

[2018-08-09 08:49] rajnishcoder commented on #39
Same problem and I'm working on latest React native version 0.55.2 and I don't have any android or iOS folder

[2018-08-23 05:27] rajnishcoder commented on #39
agreed with @daose  and if you are newly setup your project and cannot able to find android folder so run `react-native eject` to eject iOS and android app from react app.

and make sure you added CAMERA permission too like this:-

[code]

in your `/android/app/src/main/AndroidManifest.xml` file.

[2018-08-29 03:59] sushilojha opened #84 "Issue importing CameraRollPicker"
Followed the link and installed react-native-camera-roll-picker. Testing it on android simulator. When I reference it in my component using

`import CameraRoll from 'react-native-camera-roll-picker';
`
 I get the following error

[code]

[2018-08-29 04:02] sushilojha commented on #84
I would also like to mention that in Visual Studio Code. I see the following warning when select the import statement

`[ts] 'CameraRoll' is declared but its value is never read.
[ts]
**Could not find a declaration file for module 'react-native-camera-roll-picker'. '/node_modules/react-native-camera-roll-picker/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-native-camera-r

[2018-09-06 13:54] #71 closed

[2018-09-14 15:11] Asalem1 commented on #32
@jzhw0130, that's a great workaround to set the permissions, thanks for sharing.

[2018-10-04 07:37] BertoMunozCabrer commented on #67
Use ReactNative - File Type https://github.com/prscX/react-native-file-type

[2018-10-10 16:33] nandorojo opened #86 "This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method."
react-native-cli: 2.0.1
react-native: 0.55.4
expo 2.22.0

Component actually works fine, but I get this issue in my terminal:

![img_9717](https://user-images.githubusercontent.com/13172299/46751423-855ec800-cc88-11e8-92c3-b78fbf71e4ea.PNG)

[2018-10-17 05:07] builtbyproxy commented on #86
Hello @nandorojo
Are you sure `react-native-camera-roll-picker` is causing this issue?

Please see [this] thread for a possible solution?

[this]: <https://github.com/jaredpalmer/formik/issues/772#issuecomment-406080224>

[2018-10-18 04:26] builtbyproxy opened #88 "Sealed this.state.selected array"
For some reason when I try this module trys to splice out a selected image from the array it is sealed/frozen. This PR uses spread syntax to unseal the array for mutation.

I encounter this issue:
![React Native Error Message](https://i.imgur.com/OitfFPn.png)

Please see this PR for my proposed solution: #87

[2018-10-24 09:29] mopilo commented on #80
@shushuy yes i did

[2018-10-24 09:29] #80 closed

[2018-10-24 15:20] shushuy commented on #80
How did you do it?

[2018-10-24 16:28] shushuy commented on #80
@mopilo Thanks! you are the man!

[2018-10-24 21:55] shushuy commented on #60
Hey, @Frexuz how did you do it? I'm trying to implement RNFetchBlob with no success so far.....

[2018-10-28 12:28] Frexuz commented on #60
Ended up not using `RNFetchBlob`, but using `Buffer` instead.

This is what we currently use, in production:

[code]

[2018-10-29 14:38] shushuy commented on #60
@Frexuz Thank you.

[2018-11-15 12:54] sibelius commented on #65
@jeanpan you should add more contribution to improve this package

[2018-11-15 13:54] jeanpan commented on #65
@sibelius, I have added you as the collaborators. Let me know if you need any help. Sorry I haven't maintained this repo for a long time. It would be good if you can help to maintain.

[2018-11-15 14:01] sibelius commented on #65
can somebody send the pr, so I can review?

[2018-11-19 16:59] Justinio99 commented on #17
@YJTanK Hey! How can i link RCTCameraRoll in Podfile?

[2018-11-20 01:56] YJTanK commented on #17
@Justinio99  sorry, I have been abandon from React Navtion for a long time. maybe you can see the offical docs in this link  https://facebook.github.io/react-native/docs/cameraroll#docsNav

[2018-11-22 19:17] sibelius commented on #65
done here https://github.com/jeanpan/react-native-camera-roll-picker/pull/89

@jeanpan can you add me on npm as well?

https://www.npmjs.com/~sibelius

[2018-11-22 19:17] sibelius commented on #65
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/89

[2018-11-22 19:17] #65 closed

[2018-11-22 19:17] sibelius commented on #15
we are using FlatList now

[2018-11-22 19:17] #15 closed

[2018-11-27 10:41] adam-nmth commented on #53
hey! I've made a fork out of this library, and mixed it with react-native-gallery-manager, so after some install+linking it is also possible to get the videos for android:
https://github.com/gronda-team/react-native-camera-roll-picker

[2018-11-27 10:46] adam-nmth commented on #74
hey! I've made a fork out of this library, and mixed it with react-native-gallery-manager, so after some install+linking it is also possible to get the videos for android:
https://github.com/gronda-team/react-native-camera-roll-picker

[2018-12-13 22:59] jremerich commented on #65
Hi! I just installed using `yarn add react-native-camera-roll-picker` but it's showing the yellow message about ListView. I looked the file index.js in my node_modules and it's different from this repo. Can you guys help me to install the correct pack? Tks!

[2019-02-12 07:06] ChauVV opened #90 "Update ListView to Flatlist"
Can you update ListView to FlatList
I have a warning.
<img width="336" alt="screen shot 2019-02-12 at 2 05 29 pm" src="https://user-images.githubusercontent.com/16476877/52617720-58891e80-2ecf-11e9-9951-41b428fc74b8.png">

[2019-03-06 07:02] KPS250 opened #91 "Need to show Image folders"
Need help on how to show images with folders as the default gallery app in Android

[2019-03-25 00:50] askarhu commented on #90
Any update on this? It's been more than a month and no word on this, and this error keeps popping up. Would help if this can be fixed please.

[2019-04-04 07:52] sdlee3 commented on #59
same here, any solution or best practice for this?

[2019-04-20 03:52] desp0916 commented on #90
It seems that [the fix](https://github.com/jeanpan/react-native-camera-roll-picker/commit/53682e4c53ed4b325005c538d2ae632b6a49f2ad) has not been republished to the npm public registry, so I put this in my `package.json`:

[code]

[2019-04-30 07:25] Hirbod commented on #65
@jeanpan your package is used widely so please give @sibelius access to npm. The flatlist reimplementation is just awesome when it comes to performance. My initial loading size went down from 7 seconds to under 1 second - using master.

[2019-04-30 12:34] jeanpan commented on #65
I added @sibelius to npm package maintainers list. @sibelius Could you help to check if you have the permission to update the package?

[2019-04-30 12:36] sibelius commented on #65
can you also give me access to add more maintainers and contributors for this package?

[2019-04-30 12:39] sibelius commented on #65
I've tried to do a new release, but I do not appear on npm yet https://www.npmjs.com/package/react-native-camera-roll-picker

[2019-04-30 12:41] sibelius commented on #65
my npm username https://www.npmjs.com/~sibelius

[2019-04-30 12:45] jeanpan commented on #65
Hmm. I saw you on the collaborators list. Could you try again?
How could give you access to add more maintainers?

[2019-04-30 12:49] sibelius commented on #65
maybe admin access to this repo

[2019-04-30 12:50] sibelius commented on #65
ship it https://www.npmjs.com/package/react-native-camera-roll-picker

tks

[2019-04-30 12:51] sibelius commented on #90
use latest version https://www.npmjs.com/package/react-native-camera-roll-picker

1.3.0

[2019-04-30 12:51] #90 closed

[2019-04-30 12:53] jeanpan commented on #65
@sibelius thank you!

[2019-05-17 20:14] pmella16 commented on #81
same here

[2019-05-22 13:09] silva-kleyton opened #92 "prop remove"

[2019-06-10 20:49] sunviwo commented on #22
@blumanski I used your snippet to upload multiples photos and it worked like a charm. Just want to thank you.

[2019-06-11 13:21] oteinone commented on #39
If anyone else stumbles here, here's a short explanation:

Currently Android requires you to request these permissions separately on the go. Having uses-permission in manifest is not enough. The camera roll picker component has not updated to include this feature.

I managed to get the component working without any problems by asking the permission myself in the component using camera roll compone

[2019-06-13 14:08] pisacode commented on #82
You have to change `CameraRoll` in `index.js` of `node_modules/react-native-camera-roll-picker` with [https://github.com/react-native-community/react-native-cameraroll](https://github.com/react-native-community/react-native-cameraroll)

[2019-06-20 07:00] eminsr commented on #86
This issue is caused by the line below.

https://github.com/jeanpan/react-native-camera-roll-picker/blob/0979b3927a700b9afe7db1ae690ffe4dd8fdae0a/index.js#L106

[2019-06-21 13:07] MaxInMoon commented on #32
The prop `groupTypes="All"` (instead of `SavedPhotos`) was the key for me :)

[2019-07-27 07:57] ajitdas123 commented on #81
Not only that, it also very slow to select an image. For me it's taking at least 4 to 5 sec to select an image

Here is my code
[code]

[2019-08-03 08:52] marbetschar commented on #24
Sorry to hijack this old issue, but I'm not able to figure out how to make the camera roll picker show the most recent photos first.

Anyone of you able to help out? Seems I'm too dump to wrap my head around the description provided in this issue ;)

[2019-08-09 10:39] nakhyeonchoe opened #94 "Is it work now?"
Is it work now?

[2019-09-18 18:16] cloudy-ninja commented on #94
Does it works on RN 0.60.6?

[2019-09-24 12:44] NeerajaaG opened #95 "render() method in imageItem.js is calling N number of times"
In react-native-camera-roll-picker/imageItem.js

 render() {
    const {item, selected, selectedMarker, imageMargin,} = this.props;
         .....
         .......
         .....
}
If I write console.log(item); in render method
It is printing N number of times depending on N pictures getting from gallery. I want where the loop is repeating N number of times

[2019-10-16 03:25] deepakmenon opened #96 "Upgrade to latest react native"
Can we have it updated to latest react native.

[2019-11-02 18:16] akontaroudis commented on #81
FYI I've made a PR (see #98) for the slowness of selecting an image. That has increased the performance of selecting an image dramatically for me.

[2019-11-11 09:16] prospkarl opened #99 "TypeError: Cannot read property 'getPhotos' of undefined"
![Simulator Screen Shot - iPhone X - 2019-11-11 at 17 15 23](https://user-images.githubusercontent.com/54798409/68575361-db62f800-04a6-11ea-82bf-8df2cf81d4a9.png)

Help! I think the problem is that react-native camera is deprecated, please help.

[2019-11-14 19:03] Vishal7Sharma opened #100 "How to restrict image picker to show images from specific gallery folder (DCIM/Camera)"
I'm using react-native for android app, I have a use case where user can select images from gallery, For this I'm using react-native-camera-roll-picker, But now I want to restrict user to select images from only specific folder as "DCIM/Camera", I went through the code but didn't find implementation where I can specify folder path.

Please help me to find a way to achieve this feature, Or any way

[2019-11-19 22:27] sibelius commented on #99
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #99 closed

[2019-11-19 22:27] sibelius commented on #96
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #96 closed

[2019-11-19 22:27] sibelius commented on #94
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #94 closed

[2019-11-19 22:27] sibelius commented on #84
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #84 closed

[2019-11-19 22:27] sibelius commented on #66
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #66 closed

[2019-11-19 22:27] sibelius commented on #64
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #64 closed

[2019-11-19 22:27] sibelius commented on #49
fixed here https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

try again with v2

[2019-11-19 22:27] #49 closed

[2019-11-25 11:57] olkunmustafa commented on #32
It works for me.

[2019-11-25 11:58] olkunmustafa commented on #32
It works for me!

[2019-12-10 19:07] probablyup opened #104 "Need a changelog for v2"

[2019-12-10 19:25] sibelius commented on #104
the only change is here

https://github.com/jeanpan/react-native-camera-roll-picker/blob/master/Example/src/App.js#L15

[code]

consume `CameraRollPicker` from community package

is this enough?

[2019-12-10 19:29] probablyup commented on #104
Sure if that's all, there's just no github release for v2

[2020-04-04 08:19] 73R3WY opened #106 "Cannot read property of 'getPhotos' of underfined"
"dependencies": {
    "@react-native-community/cameraroll": "^1.3.0",
   ...,
    "react-native-camera-roll-picker": "2.0.0",
   ...,
}

Using react `16.9.0`
Using react-native `Expo SDK 36`

Referencing:
* https://github.com/jeanpan/react-native-camera-roll-picker/issues/99
* https://github.com/jeanpan/react-native-camera-roll-picker/pull/102

Having a console log before
[code]
will show that `Ca

[2020-04-14 11:43] arwantys commented on #92
Use prop **selected** with state and use setState for remove all selected marker

[2020-04-20 10:01] theasc commented on #106
Did you do link correctly like pod install?

[2020-04-20 11:54] 73R3WY commented on #106
Yes @theasc , I even linked the libraries manually and executed `pod install` on ios.

[2020-05-23 14:37] stefanplazic opened #107 "Doesn't work for vidoes assetType"
Hi,I'm using react-native (version 0.59.9) for android app, and trying to make picker where user can choose videos from his phone.
Now the problem is that when I put : assetType='Videos', the error:  "String index out of range:-3" happens?
Does anyone knows what the problem is?

Thanks in advance.

[2020-07-15 20:03] joshuapinter commented on #19
Did anybody get anywhere with this?

[2020-07-15 20:39] joshuapinter commented on #76
Where did you add this?

[2020-07-30 20:23] joshuapinter commented on #19
FYI, our company forked this library and added a video marker on all video thumbnails, in case anybody wants to use it. Later I'll submit a PR to get it merged into the main repo:

https://github.com/cntral/react-native-camera-roll-picker/

Here's a sneak peak of how it looks - image file on the left, video file on the right:

![device-2020-07-30-142221](https://user-images.githubusercontent.com/1

[2020-08-12 06:22] Sudhir9026 opened #109 "Can we open camera from photo list page?"

[2020-08-13 08:23] lcslawliet opened #110 "Still get CameraRoll error even after reinstalling the package to newer version"
I've even checked the package folder in node modules, it's using react-native-community. But I still getting CameraRoll removed error

[2020-10-06 06:20] ASakkeer commented on #80
I got "ph://44B41DAD-C17D-473C-AE45-8B1279E2E7CA/L0/001" this URI when I return the result of your code. Can you tell me How to convert it into the file path? I need to show a preview for the selected image, I couldn't do with this URI. Please tell me the answer if anyone knows.

[2020-12-02 15:29] joshuapinter commented on #19
Created a PR with this feature to get it merged in.

https://github.com/jeanpan/react-native-camera-roll-picker/pull/111

[2020-12-02 18:50] risticdejan opened #112 "Callback function no longer returns the same data"
I use @react-native-community/cameraroll 4.0.1 and callback don't return height, width, filename, can you add this line include: ['filename','fileSize','imageSize'] in this object const fetchParams on line 122.

[2020-12-11 13:26] Mussabaheen opened #115 "Absolute Path not found"
**How to get local path on ios, as we are supplying image to gl-react and the URI with "ph" doesn't work**

Thanks

[2020-12-19 22:04] bacarybruno commented on #112
Hello @risticdejan. I rewrote this package in hooks and included this feature. Can you please check if it's working for you ? [@kebetoo/camera-roll-picker](https://github.com/bacarybruno/camera-roll-picker). Thanks :)

[2020-12-19 22:09] bacarybruno commented on #19
Hello. I added a `videoMarker` prop to this package [@kebetoo/camera-roll-picker](https://github.com/bacarybruno/camera-roll-picker) which was rewritten using hooks.

[2020-12-23 22:11] joshuapinter commented on #32
### Android 10

If you started noticing this on Android 10, try adding this to your `AndroidManifest.xml`:

[code]

Android is moving to "scoped storage". They started using this in Android 10, with the option to opt-out by adding `android:requestLegacyExternalStorage="true"` to your `AndroidManifest.xml` file.

However, starting in Android 11, this is a forced change and your value of `android:re

[2020-12-23 22:12] joshuapinter commented on #30
Based on the original author's activity on this library, I think this is something you're going to need to add yourself. Our company has made a number of valuable PRs to this library with no response from the author. We're already running our own fork but we're close to creating our own library for this to help carry it forward and accept all of the outstanding PRs. If you're interested, let me kn

[2021-01-18 05:25] zendevil opened #118 "Null is not an object evaluating _nativeInterface.default.getPhotos"
I'm using the react-native-camera-roll-picker as follows:

[code]

But I'm  getting the following error:

[code]

How to fix this error?

[2021-01-19 17:33] zoom2009 commented on #32
It Work ! :D

[2021-02-24 18:55] jayala commented on #115
This could be a solution:
[code]

[2021-02-24 18:59] jayala opened #119 "Add support for groupTypes and groupName"
Do you think it would be possible to add support for this? Now you get all pictures and/or videos but it is hard to filter.

Wouldn't it be nice if the component comes with the possibility to select a group?

[2021-11-18 12:21] OscarGonzalez97 opened #131 "Images not rendering in Huawei phones"
Images not rendering un Huawei phones, I'm testing in a P30 lite. I just have problem with this branch of phone, maybe the problem is something related with Huawei and Google.
Seems to render but the image is not visible, even I can select the images, I put the green blocks to mark where the images could be and you can also see the check in one selected image.
![error](https://user-images.githubus

[2022-04-28 23:51] #115 closed